name: "\U0001F9F9 Swift Lint| WrkstrmFoundation"
on:
  push:
    branches:
    - main
    paths:
    - '**'
  pull_request:
    branches:
    - main
jobs:
  swift-build:
    strategy:
      matrix:
        os:
        - macos-13
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      if: matrix.os == 'macos-latest' || matrix.os == 'macos-13' || matrix.os == 'self-hosted'
      with:
        xcode-version: '15.0'
    - name: Swift Describe
      if: steps.cache-spm.outputs.cache-hit != 'true'
      run: swift package describe --type json
    - name: Set CI Style
      run: echo "SPM_CI_USE_LOCAL_DEPS=false" >> $GITHUB_ENV
    - name: Check CI Style
      run: '[ -z "${SPM_CI_USE_LOCAL_DEPS}" ] && echo "SPM_CI_LOCAL_DEPS is not set"
        || echo "SPM_CI_USE_LOCAL_DEPS is set to ${SPM_CI_USE_LOCAL_DEPS}"'
      env:
        SPM_CI_USE_LOCAL_DEPS: ${{ env.SPM_CI_USE_LOCAL_DEPS }}
    - name: Swift SWIFTLINT
      run: brew install swiftlint
    - name: SwiftLint
      run: swiftlint
